<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.rooturl }}/">Code Seed</a>
    </div>
    <ul class="nav navbar-nav navbar-main">
      <li class="active"><a href="{{ site.rooturl }}/configuration/">Configuration</a></li>
    </ul>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-sub">
      <li class="active"><a href="{{ page.baseurl }}/">Introduction</a></li>
      <li><a href="{{ page.baseurl }}/apidocs/">API Documentation</a></li>
      <li><a href="{{ page.github.releases_url }}">Releases</a></li>
      <li><a href="{{ page.github.repository_url }}">Source</a></li>
      <li><a href="{{ page.github.issues_url }}">Issues</a></li>
    </ul>
  </div>
</nav>
